.container {
    background-image: url(./imgs/perritosfondo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5.6rem);
}

.container__card {
    width: 64rem;
    height: 22rem;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: rgb(58, 57, 57);
    box-shadow: 0px 0px 10px 2px black;
    border-radius: 10px;
    opacity: 0.99;
}

.container__card:hover {
    box-shadow: 0px 0px 7px 5px pink;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: coral; */
    width: 42%;
    border-right: 1px solid black;
    box-shadow: 0px 0px 3px 2px black;
}

.left>img {
    width: 18rem;
    height: 15rem;
    border-radius: 6px;
}

.right {
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotito {
    box-shadow: 0px 0px 7px 5px black;
}

.fotito:hover {
    box-shadow: 0px 0px 13px 5px pink;
}

