.todo {
  /*   padding-top: 300px;
    padding-left: 1050px; */
    align-items: center;
    align-content: center;
    justify-content: center;
}

.submiteo {
    margin-left: 9%;
    margin-bottom: 10px;
    
}

.divino {
    margin-top: 30px;
    margin-left: 70px;
}

.labbel {
    margin-top: 700px;
}


