.todo {
  /*   padding-top: 300px;
    padding-left: 1050px; */
    background: rgb(203, 118, 132);
    padding: 12px;
    /* padding-bottom: 6%; */
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 70px;
    text-align: center;
}

.submiteo {
    margin-left: 9%;
    margin-bottom: 10px;
    
}

.divino {
    margin-top: 30px;
    margin-left: 70px;
}

.labbel {
    margin-top: 700px;
}



