.containerPhader {
    background-image: url(./imgs/perritosfondo.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.containerCards {
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerCards>a {
    /* HACE REFERENCIA A LAS CARD */
    background-color: rgb(66, 65, 65);
    opacity: 0.98;
    text-decoration: none;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
}


.sele {
    display: inline-block;
    width: 10rem;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    margin: 9px;
    margin-top: 4px;
    border: 0;
    border-radius: 0;
    background: gray;
    color: #7b7b7b;
    font-size: 1em;
    color: white;
    font-family:
        'Quicksand', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.containerCards>a:hover {
    box-shadow: 0px 0px 6px 6px rgb(201, 148, 175);
}
