body{
    background-color: rgb(201, 148, 175);
}

.image {
    width: 15%;
    height: 15%;
    align-content: center;
    margin-left: 13%;
}

.compose {
    margin-left: 35%;
    margin-top: 15rem;    
}
